.kotak {
    border: 2px solid black;
    display: inline-block;
    height: 100px;
}

.parent {
    text-align: center;
    width: 80%;
    margin: auto;
}

.anak-kotak {
    display: inline-block;
}